.no-bullets
  list-style-type none !important
.no-ident
  padding-left 0 !important
.no-padding
  margin-block-start 0 !important
  margin-block-end 0 !important
.no-wrap
  white-space nowrap !important
.lower-alpha
  list-style-type lower-alpha !important
.upper-alpha
  list-style-type upper-alpha !important
.break-words 
  td
    word-break break-word !important
    hyphens auto !important
  