@import "./vars.styl"

.VPContent
  figure + figure
    margin-block-start 1rem
  figure
    margin 0 auto
    display flex
    flex-flow column nowrap
    img
      width fit-content
      margin auto
    border 1px solid var(--vp-c-brand)
    border-radius 0.5rem 0.5rem 0 0
    figcaption
      border-top 2px double var(--vp-c-brand)
      margin 0
      // background lighten(vp-c-brand, 50%)
      border-left 1px solid var(--vp-c-brand)
      border-right 1px solid var(--vp-c-brand)
      p:first-child
        padding 0.25rem 0.5rem
        margin-block-start 0
        margin-block-end 0
        border-bottom 1px solid var(--vp-c-brand)
        & > span:first-of-type
          font-weight bold
      & > div:first-of-type
        border-top 1px solid var(--vp-c-brand)
        border-bottom 1px solid var(--vp-c-brand)
        padding 0 1rem
      div > *:first-child
        margin-block-start 1rem
      div > *:last-child
        margin-block-end 1rem
    table
      margin 0.5rem auto
      max-width 100%

.dark .VPContent
  figure img
    filter invert(1)