.katex .katex-html, mjx-container
  color var(--vp-c-text-1)
  font-size 1rem
  font-weight 500
mjx-container
  white-space nowrap
  vertical-align 0px
.katex
  .katex-mathml
    display none
  .msupsub
    font-size 0.8rem
    .vlist-t
      vertical-align super
    .vlist-t.vlist-t2
      vertical-align sub