// .katex .katex-html, mjx-container
//   color var(--vp-c-text-1)
//   font-size 1rem
// .katex
//   font-family Libertinus, var(--vp-font-family-base) !important
// mjx-container
//   white-space nowrap
//   vertical-align 0px

// math
  // &, & *
  //   font-family Libertinus
  // annotation
  //   display none
// math[display="block"]
//   semantics
//     font-size math
//     display block math
    // math-style compact

// IMPORTANT (!): 
// - https://github.com/vuejs/core/issues/7820
// - https://github.com/vuejs/core/pull/7836