fhtw-blue = #00659c
fhtw-blue-light = #4c93b9
fhtw-blue-dark = #00466d

fhtw-green = #8cb110
fhtw-green-light = #aec857
fhtw-green-dark = #627b0b

fhtw-gray = #71787d
fhtw-gray-light = #a6a6a6
fhtw-gray-dark = #595959

vp-c-brand = #3eaf7c

:root
  --fhtw-blue fhtw-blue
  --fhtw-blue-light fhtw-blue-light
  --fhtw-blue-dark fhtw-blue-dark
  
  --fhtw-green fhtw-green
  --fhtw-green-light fhtw-green-light
  --fhtw-green-dark fhtw-green-dark

  --fhtw-gray fhtw-gray
  --fhtw-gray-light fhtw-gray-light
  --fhtw-gray-dark fhtw-gray-dark

  --vp-c-brand vp-c-brand
  --vp-c-brand-light lighten(vp-c-brand, 50%)
  --vp-c-brand-dark darken(vp-c-brand, 50%)
  --vp-button-brand-bg vp-c-brand

  --vp-sidebar-width calc(272px + 50px)
  --vp-layout-max-width calc(1440px + 0px)