.no-bullets {
    list-style-type: none;
}

.no-ident {
    padding-left: 0;
}

.no-padding {
    margin-block-start: 0;
    margin-block-end: 0;
}

.no-wrap {
    white-space: nowrap;
}

.lower-alpha {
    list-style-type: lower-alpha;
}

.upper-alpha {
    list-style-type: upper-alpha;
}

.break-words { 
    td {
        word-break: break-word;
        hyphens: auto;
    }
}