@use "sass:color";

@import "./palette.scss";

.theme-default-content {
    & figure {
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;

        border: 1px solid var(--c-brand);
        border-radius: 0.5rem 0.5rem 0 0;

        & > figcaption {
            border-top: 2px double var(--c-brand);
            margin: 0;
            padding: 1rem;
            background: lighten($c-brand, 50%);
        }

        & > table {
            margin: 0.5rem auto;
            max-width: 100%;
        }
    }

    & figure + figure {
        margin-block-start: 1em;
    }
}