.list-of-figures,
.list-of-tables,
.bibliography {
    list-style-type: none;
    padding-left: unset;
}

.list-of-figures,
.list-of-tables,
.bibliography,
.footnotes-list {
    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

$width: 6em;

#list-of-abbreviations + dl {
    display: flex;
    flex-wrap: wrap;

    dt, dd {
        margin-bottom: 0.5em;
    }

    dt {
        font-weight: 500;
        width: $width;
    }

    dd {
        margin-left: auto;
        width: calc(100% - $width);
    }
}