.katex .katex-html, mjx-container {
    border: 1px solid var(--c-brand-light);
    color: var(--c-text);
    padding: 1px;
    font-size: 1rem;
    font-family: var(--font-family);
}

.katex {
    .katex-mathml {
        display: none;
    }
    .katex-html {
        font-family: var(--font-family) normal 1.21em KaTeX_Main, Times New Roman, serif;
    }
}